/* 恒星系の配置　*/
$position-move-distance: 0px;
$fixed-star-position: 405px + $position-move-distance;
$primo-orbit-position: 270px + $position-move-distance;
$secundus-orbit-position: 135px + $position-move-distance;
$tertius-orbit-position: 0px + $position-move-distance;

/*　恒星の大きさ　：　基準値　*/
$fixed-star-scale: 180px;

/* 各軌道・惑星の恒星比 */
$primo-orbit-ratio: 2.5;
$secundus-orbit-ratio: 4;
$tertius-orbit-ratio: 5.5;
$large-planet-ratio: 0.75;
$medium-planet-ratio: 0.65;
$small-planet-ratio: 0.55;

/* 各軌道の大きさ */
$primo-orbit: $fixed-star-scale * $primo-orbit-ratio;
$secundus-orbit: $fixed-star-scale * $secundus-orbit-ratio;
$tertius-orbit: $fixed-star-scale * $tertius-orbit-ratio;

/* 各軌道における周回速度 */
$primo-orbit-speed: 40s;
$secundus-orbit-speed: 60s;
$tertius-orbit-speed: 80s;
$satelite-orbit-speed: 60s;

/* 各軌道における各惑星（大・中・小）の大きさ */
$primo-orbit-large-planet: $large-planet-ratio / $primo-orbit-ratio;
$primo-orbit-medium-planet: $medium-planet-ratio / $primo-orbit-ratio;
$primo-orbit-small-planet: $small-planet-ratio / $primo-orbit-ratio;
$secundus-orbit-large-planet: $large-planet-ratio / $secundus-orbit-ratio;
$secundus-orbit-medium-planet: $medium-planet-ratio / $secundus-orbit-ratio;
$secundus-orbit-small-planet: $small-planet-ratio / $secundus-orbit-ratio;
$tertius-orbit-large-planet: $large-planet-ratio / $secundus-orbit-ratio;
$tertius-orbit-medium-planet: $medium-planet-ratio / $secundus-orbit-ratio;
$tertius-orbit-small-planet: $small-planet-ratio / $secundus-orbit-ratio;

/* 衛星の恒星比 */
$satelite-star-ratio: 0.07;

/* 衛星軌道の大きさ */
$satelite-orbit-scale: 1.5;

/* 衛星の大きさ */
$satelite-scale: 0.5;
