//popup-box
.detail-balloon {
  position: absolute;
  top: -200px;
  right: -125px;
  z-index: 1000;

  display: none;
  margin: 1.5em auto;
  padding: 7px 10px;
  width: 300px;
  height: 150px;
  border: solid 3px #fff;
  box-sizing: border-box;
  opacity: 1;
  background-color: rgba(23,34,49,0.8);

  &:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #000;
    z-index: 1000;
    opacity: 1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #fff;
  }
  .assignment-data {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #fff;

    .assignment-title {
      margin: 5px 0;
      width: 80px;
      height: 50px;
      line-height: 50px;
    }
    .assignment-deadline {
      margin: 5px 0;
      width: 180px;
      height: 50px;
      line-height: 50px;
    }
    .assignment-description {
      margin: 5px 0;
      padding: 5px;
      width: 300px;
      height: 100px;
    }
  }
}
