// scssコンパイルの参考記事→https://beautifulajax.dip.jp/?p=1669

@import "initializer";
@import "button";

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #0D171F url("../images/universe.png") repeat center center;
  background-size:cover;
}
.container {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
