// scssコンパイルの参考記事→https://beautifulajax.dip.jp/?p=1669

@import "initializer";
@import "button";

/*
 *  mixin  
 */
 @mixin placeholder($color) {
  &::placeholder {
    font-size: 13px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    font-size: 14px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    font-size: 14px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }

  //mozila
  ::-moz-placeholder {
    font-size: 14px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0D1935 url("../images/universe.png") no-repeat center center;
  background-size: cover;
}
.container {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}

input {
  @include placeholder(#fff);
  display: block;
  width: 100px;
  text-align: left;
  border: none;
  border-bottom: solid 1px #ddd;
  color: #fff;
  background-color: $bg-common-color;
  padding: 0 5px;
}