// scssコンパイルの参考記事→https://beautifulajax.dip.jp/?p=1669

@import "initializer";
@import "button";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0D1935 url("../images/universe.png") no-repeat center center;
  background-size: cover;
}
.container {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}

.ReactModalPortal .ReactModal__Overlay .ReactModal__Content {
  animation: fadeIn 3s ease-in 0;

  &--after-open {
    opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  50% { opacity: 0.3 }
  100% { opacity: 1 }
}
