$available-planet-size: 40px;
$holder-height: 100px;

#footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  z-index: 200;
  position: fixed;
  bottom: 0;
  right: 0;

  #planet-holder {
    display: flex;
    width: 410px;
    height: $holder-height;
    margin: 0 10px;
    padding: 0 10px;
    vertical-align: middle;

    .open-planet {
      width: $holder-height;
      height: $holder-height;
      text-align: center;
      margin: 0 5px 0 0;
      transform: rotate(0deg);
      transition: 1s linear;
    }
    .click-rotate {
      transform: rotate(45deg);
    }
    .planet-holder-img {
      width: $holder-height;
      height: $holder-height;
    }
    .open-planet-holder {
      display: none;
    }
    .holder-show {
      display: block;
    }

    ul#planet-list {
      display: flex;
      align-items: center;
      overflow: scroll;
      margin: 0;
      padding: 0;
      width: 0;
      transition: 1000ms linear;

      li.planet {
        list-style: none;
        color: #fff;
        width: $available-planet-size;
        height: $available-planet-size;
        margin-right: 10px;
        border-radius: 50%;

        .planet-img {
          width: $available-planet-size;
          height: $available-planet-size;
        }
      }
      .current-clicked {
        box-shadow: 0 0 10px #fff;
      }
    }
    .is-show {
      width: 400px;
    }
  }
  #disapperance-holder {
    height: $holder-height;
    margin: 0 10px;
    padding: 0;

    ul.disapperance-list {
      margin: 0 5px;
      padding: 0;
      display: flex;

      li.disapperance {
        list-style: none;
        width: $holder-height;
        height: $holder-height;
        margin-right: 10px;
        cursor: pointer;
        display: none;

        .delete-btn {
          width: $holder-height;
          height: $holder-height;
        }
      }
      li.delete-buttons-show {
        display: flex;
      }
      li.revival-button-show {
        display: flex;
      }
    }
  }
  .holder-border {
    border: solid 1px #000;
    border-radius: 20px;
  }
  .holder-borderï¼šbefore {
    animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1) forwards;
  }
  @keyframes img-wrap {
    100% {
      transform: translateX(100%);
    }
  }
}
