@import "initializer";

@mixin placeholder($color) {
  &::placeholder {
    font-size: 13px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    font-size: 14px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    font-size: 14px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }

  //mozila
  ::-moz-placeholder {
    font-size: 14px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }
}

.signup-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 740px;
}

.field-style {
  display: block;
  width: 350px;
  margin: 10px auto;
  color: #fff;

  input {
    @include placeholder(#ddd);
    width: 350px;
    text-align: center;
    background-color: $bg-common-color;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0 30px;
  }
}

.fieled-text {
  font-family: orator-std, monospace;
  font-style: normal;
  font-weight: 300;
}

.submit-btn {
  display: block;
  width: 200px;
  margin: 20px auto 0;
  padding: 1px 20px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  color: $bg-common-color;

  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 4px;
}
