@import "initializer";

@mixin placeholder($color) {
  &::placeholder {
    font-size: 12px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 2px;
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    font-size: 12px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 2px;
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    font-size: 12px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 2px;
    color: $color;
  }

  //mozila
  ::-moz-placeholder {
    font-size: 12px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 2px;
    color: $color;
  }
}

//form-popup
#form-on-modal {
  display: 'block';
  margin: 1.5em auto;
  padding: 7px 10px;
  width: 320px;
  height: 220px;
  color: #fff;
  font-size: 16px;
  border: solid 3px #fff;
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 500;

  .form-balloon-title {
    margin: 5px auto;
    text-align: center;
    font-size: 14px;
  }
  .form-line-1 {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
  }
  .form-line-2 {
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
  }
  .form-line-3 {
    height: 60px;
    margin: 5px 0;
  }
  .form-line-4 {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
  }
  .description {
    width: 250px !important;
    height: 60px !important;
  }
  .deadline {
    width: 130px !important;
    height: 30px !important;
  }
  .planet_type {
    width: 0 !important;
  }
  select.assignment-select-fieled-style {
    width: 100px;
    height: 30px;
    border: none;
    background-color: $bg-common-color;
    font-size: 12px;
    color: #fff;
  }
  .assignment-fieled-style {
    width: 100px;
    height: 30px;

    input {
      @include placeholder(#ddd);
      width: 100px;
      height: 30px;
      text-align: left;
      border: none;
      border-bottom: solid 1px #ddd;
      background-color: $bg-common-color;
      padding: 0 0 0 5px;
    }
  }
  .assignment-fieled-text {
    font-size: 12px;
    font-family: orator-std, monospace;
    font-style: normal;
    font-weight: lighter;
  }

  .submit-btn {
    display: block;
    width: 100px;
    height: 25px;
    margin: 5px 0 0 70px;
    background-color: $bg-common-color;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
  }
}
