@import "orbit_size_initializer";

$mypage-orbit: 500px;

#mypage-container {
  width: 100%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;

  .user-info {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content:center;
    align-items: center;

    position: absolute;
    top: 360px;

    .user-img-container {
      margin: 0;
      width: 100px;
      height: 100px;
      border: 1px solid #fff;
      border-radius: 50%;

      .user-img {
        margin: 10px 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
    .user-name {
      margin-left: 40px;
      text-align: left;
      width: 250px;
      color: #fff;
      line-height: 40px;
      font-weight: lighter;
      letter-spacing: 5px;
    }
  }

  #mypage-orbit-circle {
    width: $mypage-orbit;
    height: $mypage-orbit;
    margin: 0 auto;
    border: 1px #fff;
    border-style: solid;
    border-radius: 50%;
    transform: skewX(-20deg) skewY(-10deg);
    list-style: none;

    position: absolute;
    top: 130px;

    .common {
      width: 50%;
      height: 50%;
      position: absolute;
      left: 25%;
      top: 25%;
      text-align: center;
      z-index: 50;
    }

    .planet-large-secundus {
      width: percentage($primo-orbit-large-planet * 1.2);
      height: percentage($primo-orbit-large-planet * 1.2);
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: skewX(30deg);
      animation: rotate $tertius-orbit-speed linear reverse infinite;
      word-wrap: break-word;
      list-style-type: none;
    }

    .top {
      position: absolute;
      left: 25%;
      top: -25%;
      transform-origin: center 150%;
    }
    .right {
      position: absolute;
      left: 75%;
      top: 25%;
      transform-origin: -50% center;
    }
    .left {
      position: absolute;
      left: -25%;
      top: 25%;
      transform-origin: 150% center;
    }
    .bottom {
      position: absolute;
      left: 25%;
      top: 75%;
      transform-origin: center -50%;
    }
    img {
      width: 100%;
      height: 100%;
      transform: skewX(20deg) skewY(10deg);
    }

    .mypage-orbit-motion {
      animation: rotate $tertius-orbit-speed linear infinite;
    }
    .pause-animation {
      animation-play-state: paused;
    }
    .start-animation {
      animation-play-state: running;
    }
  }
  .circle-shadow {
    /* box-shadow */
    box-shadow: 0px 0px 20px 5px #fff, 0px 0px 17px -2px #fff inset;
  }
  
  @keyframes rotate {
    0% {
     transform: rotate(0deg);
    }
      100% {
      transform: rotate(360deg);
    }
  }
}
