@import "orbit_size_initializer";

#project-orbit {
  width: 100%;
  height: 90%;
  overflow: scroll;
  margin: 20px auto;

  #fixed-star {
    width: $fixed-start-scale;
    height: $fixed-start-scale;
    margin: 0 auto;
    position: absolute;
    top: $fixed-star-position;
    left: $fixed-star-position;
    z-index: 100;

    img {
      width: $fixed-start-scale;
      height: $fixed-start-scale;
    }
  }
  .circle1 {
    width: $first-orbit;
    height: $first-orbit;
    position: absolute;
    top: $first-orbit-position;
    left: $first-orbit-position;
    z-index: 90;
  }
  .circle2 {
    width: $second-orbit;
    height: $second-orbit;
    position: absolute;
    top: $second-orbit-position;
    left: $second-orbit-position;
    z-index: 80;
  }
  .circle3 {
    width: $third-orbit;
    height: $third-orbit;
    position: absolute;
    top: $third-orbit-position;
    left: $third-orbit-position;
    z-index: 70;
  }
  .common-circle {
    margin: 0 auto;
    border: 1px #fff;
    border-style: solid;
    border-radius: 50%;
  }

  .common {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    text-align: center;
  }
  .planet-large-1 {
    width: percentage($first-orbit-large-planet);
    height: percentage($first-orbit-large-planet);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: rotate $first-orbit-speed linear reverse infinite;
    word-wrap: break-word;
  }
  .planet-medium-2 {
    width: percentage($second-orbit-medium-planet);
    height: percentage($second-orbit-medium-planet);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: rotate $second-orbit-speed linear reverse infinite;
    word-wrap: break-word;


  }
  .planet-small-3 {
    width: percentage($third-orbit-small-planet);
    height: percentage($third-orbit-small-planet);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: rotate $third-orbit-speed linear reverse infinite;
    word-wrap: break-word;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .top {
    position: absolute;
    left: 25%;
    top: -25%;
    transform-origin: center 150%;
  }
  .right {
    position: absolute;
    left: 75%;
    top: 25%;
    transform-origin: -50% center;
  }
  .left {
    position: absolute;
    left: -25%;
    top: 25%;
    transform-origin: -50% center;
  }
  .bottom {
    position: absolute;
    left: 25%;
    top: 75%;
    transform-origin: center -50%;
  }

  .first-orbit-motion {
    animation: rotate $first-orbit-speed linear infinite;
  }
  .second-orbit-motion {
    animation: rotate $second-orbit-speed linear infinite;
  }
  .third-orbit-motion {
    animation: rotate $third-orbit-speed linear infinite;
  }
  .satelite-orbit-motion {
    animation: rotate $satelite-orbit-speed linear infinite;
  }
  .pause-animation {
    animation-play-state: paused;
  }
  .start-animation {
    animation-play-state: running;
  }

  .content {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 60s linear reverse infinite;
    word-wrap: break-word;
  }
  .satelite-orbit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px #fff;
    border-style: solid;
    border-radius: 50%;
  }
  .satelite {
    width: percentage($satelite-scale);
    height: percentage($satelite-scale);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    animation: rotate $satelite-orbit-speed linear reverse infinite;
    word-wrap: break-word;
  }
  @keyframes rotate {
    0% {
     transform: rotate(0deg);
    }
      100% {
      transform: rotate(360deg);
    }
  }
}
