// scssコンパイルの参考記事→https://beautifulajax.dip.jp/?p=1669

/* 恒星系の配置　*/
$position-move-distance: 0px;
$fixed-star-position: 405px + $position-move-distance;
$first-orbit-position: 270px + $position-move-distance;
$second-orbit-position: 135px + $position-move-distance;
$third-orbit-position: 0px + $position-move-distance;

/*　恒星の大きさ　：　基準値　*/
$fixed-start-scale: 180px;

/* 各軌道・惑星の恒星比 */
$first-orbit-ratio: 2.5;
$second-orbit-ratio: 4;
$third-orbit-ratio: 5.5;
$large-planet-ratio: 0.55;
$medium-planet-ratio: 0.35;
$small-planet-ratio: 0.15;

/* 各軌道の大きさ */
$first-orbit: $fixed-start-scale * $first-orbit-ratio;
$second-orbit: $fixed-start-scale * $second-orbit-ratio;
$third-orbit: $fixed-start-scale * $third-orbit-ratio;

/* 各軌道における周回速度 */
$first-orbit-speed: 20s;
$second-orbit-speed: 30s;
$third-orbit-speed: 60s;
$satelite-orbit-speed: 40s;

/* 各軌道における各惑星（大・中・小）の大きさ */
$first-orbit-large-planet: $large-planet-ratio / $first-orbit-ratio;
$first-orbit-medium-planet: $medium-planet-ratio / $first-orbit-ratio;
$first-orbit-small-planet: $small-planet-ratio / $first-orbit-ratio;
$second-orbit-large-planet: $large-planet-ratio / $second-orbit-ratio;
$second-orbit-medium-planet: $medium-planet-ratio / $second-orbit-ratio;
$second-orbit-small-planet: $small-planet-ratio / $second-orbit-ratio;
$third-orbit-large-planet: $large-planet-ratio / $second-orbit-ratio;
$third-orbit-medium-planet: $medium-planet-ratio / $second-orbit-ratio;
$third-orbit-small-planet: $small-planet-ratio / $second-orbit-ratio;

/* 衛星の恒星比 */
$satelite-star-ratio: 0.07;

/* 衛星軌道の大きさ */
$satelite-orbit-scale: 1.5;

/* 衛星の大きさ */
$satelite-scale: 0.5;

body {
  width: 1100px;
  height: 1100px;
  margin: 0 auto;
  background-color: #2C2963 !important;
}

#system {
  width: 100%;
  height: 90%;

  #fixed-star {
    width: $fixed-start-scale;
    height: $fixed-start-scale;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    top: $fixed-star-position;
    left: $fixed-star-position;
    z-index: 100;
    background-color: #F5C75B;
  }
  .circle1 {
    width: $first-orbit;
    height: $first-orbit;
    position: absolute;
    top: $first-orbit-position;
    left: $first-orbit-position;
    z-index: 90;
  }
  .circle2 {
    width: $second-orbit;
    height: $second-orbit;
    position: absolute;
    top: $second-orbit-position;
    left: $second-orbit-position;
    z-index: 80;
  }
  .circle3 {
    width: $third-orbit;
    height: $third-orbit;
    position: absolute;
    top: $third-orbit-position;
    left: $third-orbit-position;
    z-index: 70;
  }
  .common-circle {
    margin: 0 auto;
    border: 1px #fff;
    border-style: dashed;
    border-radius: 50%;
  }

  .common {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    text-align: center;
  }
  .planet-large-1 {
    width: percentage($first-orbit-large-planet);
    height: percentage($first-orbit-large-planet);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: rotate $first-orbit-speed linear reverse infinite;
    word-wrap: break-word;
  }
  .planet-medium-2 {
    width: percentage($second-orbit-medium-planet);
    height: percentage($second-orbit-medium-planet);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: rotate $second-orbit-speed linear reverse infinite;
    word-wrap: break-word;
  }
  .planet-small-3 {
    width: percentage($third-orbit-small-planet);
    height: percentage($third-orbit-small-planet);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: rotate $third-orbit-speed linear reverse infinite;
    word-wrap: break-word;
  }

  .top {
    position: absolute;
    left: 25%;
    top: -25%;
    transform-origin: center 150%;
  }
  .right {
    position: absolute;
    left: 75%;
    top: 25%;
    transform-origin: -50% center;
  }
  .left {
    position: absolute;
    left: -25%;
    top: 25%;
    transform-origin: -50% center;
  }
  .bottom {
    position: absolute;
    left: 25%;
    top: 75%;
    transform-origin: center -50%;
  }

  .first-orbit-motion {
    animation: rotate $first-orbit-speed linear infinite;
  }
  .second-orbit-motion {
    animation: rotate $second-orbit-speed linear infinite;
  }
  .third-orbit-motion {
    animation: rotate $third-orbit-speed linear infinite;
  }
  .satelite-orbit-motion {
    animation: rotate $satelite-orbit-speed linear infinite;
  }
  .pause-animation {
    animation-play-state: paused;
  }
  .restart-animation {
    animation-play-state: running;
  }

  .content {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 60s linear reverse infinite;
    word-wrap: break-word;
  }
  .satelite-orbit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px #fff;
    border-style: dashed;
    border-radius: 50%;
  }
  .satelite {
    width: percentage($satelite-scale);
    height: percentage($satelite-scale);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    animation: rotate $satelite-orbit-speed linear reverse infinite;
    word-wrap: break-word;
  }
  .bg-color {
    background: linear-gradient(#FFB3E7,#FF54C9);
  }
  @keyframes rotate {
    0% {
     transform: rotate(0deg);
    }
      100% {
      transform: rotate(360deg);
    }
  }
}
#footer {
  display: flex;
  justify-content: space-between;
  #planet-holder {
    display: flex;
    width: 200px;
    height: 25px;
    overflow: scroll;
    margin: 0 10px;
    padding: 0 10px;
    vertical-align: middle;
    .open-planet {
      width: 20px;
      height: 20px;
      text-align: center;
      margin: 0 5px 0 0;
      transform: rotate(0deg);
      transition: 0.5s linear;
    }
    .click-rotate {
      transform: rotate(45deg);
    }
    ul#planet-list {
      display: flex;
      margin: 0;
      padding: 0;
      li.planet {
        list-style: none;
        color: #fff;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
    .circle-border {
      border: solid 1px #000;
      border-radius: 50%;
    }
  }
  #disapperance-holder {
    height: 25px;
    margin: 0 10px;
    padding: 0;
    ul#disapperance-list {
      display: flex;
      margin: 0 5px;
      padding: 0;
      li.disapperance {
        list-style: none;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: solid 3px #5EC7D0;
        cursor: pointer;
      }
    }
  }
  .holder-border {
    border: solid 1px #000;
    border-radius: 20px;
  }
  .holder-border：before {
    animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1) forwards;
  }
  @keyframes img-wrap {
    100% {
      transform: translateX(100%);
    }
  }
}
