#tutorial-modal {
  margin: 10px auto;
  ul.tutorial-list {
    li {
      font-family: orator-std, monospace;
      font-size: 16px;
      font-weight: 300;
      list-style-type: circle;
    }
  }
}