{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["react"], # プラグインのデフォルトルールで不都合があったら変更推奨
  # TODO: あとでRule追加　https://eslint.org/docs/rules/
  "rules": {
    "semi": [2, "never"], # not allow semi-colon
    "space-before-function-paren" : [2, "never"],
    "react/prop-types": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
}
